body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
		font-style: normal;
		font-weight: normal;
    /*background-color: red;*/

    background: #f7f7f7 !important;
}
/**** header ****/
header{

    height: 20%;
    font-family: Bahnschrift;
    font-style: normal;
    background-color: #949494;

}
a{
text-decoration:none;
color:inherit;
}
a:hover{
text-decoration:none;
color:inherit;
}
/** first nav style **/
.firstNav{
    height: 10%;

    font-size: 24px;
    font-weight: bold;


}
.firstNav a{
    float: right;
    clear: both;
    margin-right: 2%;
    margin-top:2%;
    text-decoration: none;
}
.firstNav div {
    display: inline-block;
    margin-left: 2%;
    margin-top: auto;

}

.predictor{
    margin-top: -17%;
    margin-left: 13%;
}
header hr{
    margin-top: -1%;
    border: 1px solid black;
    background-color: black;
}


/******* second nav style *****/

#mode-btn{
    width: 20%;
    height: 80%;


}
.secondNav div a{
    font-size: 20px;

}
.nav-item{
    margin-top: 2%;
    text-align: center;
    margin-bottom: 2%;
}

#countryDate{
color:blue;
}





.mtb-5{
  margin-bottom: -20px !important;
}

.card{
    margin-top: 20px;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid #EBEBEB;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
	font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/*Pen styling*/
.container {
  margin-top: 50px;
}

/*alert styling*/
.alert-success {
  border-color: #e6e6e6;
  border-left: 5px solid #00986a;
  background-color: #fff;
  color: #888;
}

.alert-info {
  border-color: #e6e6e6;
  border-left: 5px solid #00b3c8;
  background-color: #c82630;
  color: #888;
}

.alert-warning {
  border-color: #c82630;
  border-left: 5px solid #f9af2c;
  background-color: #fff;
  color: #888;
}

.alert-danger {
  border-color: #e6e6e6;
  border-left: 5px solid #c82630;
  background-color: #fff;
  color: #888;
}

@media (min-width: 768px) {
  .alert {
    border-radius: 6px;
    display: table;
    width: 100%;
    padding-left: 78px;
    position: relative;
    padding-right: 60px;
    border: 1px solid #e6e6e6;
  }

  .alert .close {
    color: #888;
    opacity: 1;
    float: none;
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -12px;
    font-size: 25px;
  }

  .alert .icon {
    text-align: center;
    width: 58px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #bdbdbd;
    padding-top: 15px;
    border-radius: 6px 0 0 6px;
  }

  .alert .icon i {
    font-size: 20px;
    color: #fff;
    left: 21px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
  }

  .alert .icon img {
    font-size: 20px;
    color: #fff;
    left: 18px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
  }
  /*============ colors ========*/
  .alert.alert-success .icon,
  .alert.alert-success .icon:after {
    border-color: none;
    background: #00986a;
  }

  .alert.alert-info .icon,
  .alert.alert-info .icon:after {
    border-color: none;
    background: #00b3c8;
  }

  .alert.alert-warning .icon,
  .alert.alert-warning .icon:after {
    border: none;
    background: #f9af2c;
  }

  .alert.alert-danger .icon,
  .alert.alert-danger .icon:after {
    border-color: none;
    background: #c82630;
  }
}

/*#koko{

  background-color: #c82630;
}*/